.section-wrap{
    position:relative;
    z-index:2;
}
.section{
    width:960px;
    margin:0 auto;
}
.section h1{
    margin-bottom:40px;
    font-size:36px;
}
.loading-process .overlay{
    display:block;
}
.finish-loading .overlay{
    opacity:0;
}
.finish-loading .loading-info,.finish-loading .loading-circle{
    opacity:0;
}
.finish-loading .loading-avatar{
    border:4px solid #fff;
}
.fade{
    opacity:0;
    position:relative;
    top:10px;
    -webkit-transition:all 0.2s ease-in;
    -moz-transition:all 0.2s ease-in;
    -ms-transition:all 0.2s ease-in;
    -o-transition:all 0.2s ease-in;
    transition:all 0.2s ease-in;
}
.fade.fade-in{
    opacity:1;
    top:0;
}
.section-header{
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:20;
}
.finish-loading .nav{
    opacity:.6;
}
.nav{
    width:960px;
    position:absolute;
    z-index:5;
}
.nav li{
    float:left;
    text-align:center;
    position:relative;
    width:20%;
}
.nav li a{
    color:#fff;
    font-size:30px;
    display:block;
    padding:60px 0;
    width:100%;
    -webkit-transition:all 0.6s ease-in;
    -moz-transition:all 0.6s ease-in;
    -ms-transition:all 0.6s ease-in;
    -o-transition:all 0.6s ease-in;
    transition:all 0.6s ease-in;
}
.nav .fade1 a:hover,.nav .fade1.hover a{
    color:#95a5a6
}
.nav .fade2 a:hover,.nav .fade2.hover a{
    color:#2980b9
}
.nav .fade3 a:hover,.nav .fade3.hover a{
    color:#c0392b
}
.nav .fade4 a:hover,.nav .fade4.hover a{
    color:#27ae60
}
.nav .back-home{
    height:1px;
    -webkit-transition:none;
    -moz-transition:none;
    -ms-transition:none;
    -o-transition:none;
    transition:none;
}
.nav .back-home a{
    position:absolute;
    width:100px;
    height:100px;
    left:50%;
    margin-left:-50px;
    border-radius:50%;
    border:4px solid #fff;
    overflow:hidden;
    text-indent:-9999px;
    background:url(../image/shouye.jpg);
    -webkit-background-size:100px 100px;
    background-size:100px 100px;
    padding:0 !important;top:30px;
}
.nav .back-home a:hover{
    border-bottom:4px solid #fff;
}
.nav-bg{
    background:#000;
    position:relative;
    z-index:1;
    height:80px;
    margin:0 auto;
    width:0;
    -webkit-transition:width 0.6s ease-in;
    -moz-transition:width 0.6s ease-in;
    -ms-transition:width 0.6s ease-in;
    -o-transition:width 0.6s ease-in;
    transition:width 0.6s ease-in;
}
.shrink .nav li a{
    padding:20px 0;
    font-size:24px;
}
.shrink .nav .back-home a{
    top:0;
}
.shrink .nav-bg{
    width:100%;
}
.home-bg{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:1;
}
.home-bg img{
    max-width:none;
}
.loading{
    margin:auto;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:120px;
    height:120px;
    z-index:10;
}
.loading-circle{
    background-color:transparent;
    opacity:.9;
    border-top:10px solid #27ae60;
    border-right:10px solid #d35400;
    border-bottom:10px solid #2980b9;
    border-left:10px solid #c0392b;
    border-radius:50%;
    width:100px;
    height:100px;
    margin:0 auto;
    -webkit-transition:all 0.4s ease-in;
    -moz-transition:all 0.4s ease-in;
    -ms-transition:all 0.4s ease-in;
    -o-transition:all 0.4s ease-in;
    transition:all 0.4s ease-in;
    animation:spin 1s infinite linear;
    -webkit-animation:spin 1s infinite linear;
    -moz-animation:spin 1s infinite linear;
    -o-animation:spin 1s infinite linear;
}
@keyframes spin{
    0%{
        -webkit-transform:rotate(0deg);
    }
    100%{-webkit-transform:rotate(360deg);
    }
}
@-moz-keyframes spin{
    0%
    {
        -webkit-transform:rotate(0deg);
    }100%{
        -webkit-transform:rotate(360deg);
    }
}
@-webkit-keyframes spin{
    0%{
        -webkit-transform:rotate(0deg);
    }
    100%{
        -webkit-transform:rotate(360deg);
    }
}
@-o-keyframes spin{
    0%{
        -webkit-transform:rotate(0deg);
    }100%{
        -webkit-transform:rotate(360deg);
    }
}
.loading-avatar{
    width:100px;
    height:100px;
    overflow:hidden;
    position:absolute;
    top:10px;
    left:10px;
    border-radius:50%;
    -webkit-transition:border-width 0.4s ease-in;
    -moz-transition:border-width 0.4s ease-in;
    -ms-transition:border-width 0.4s ease-in;
    -o-transition:border-width 0.4s ease-in;
    transition:border-width 0.4s ease-in;
}
.loading-avatar img{
    width:100px;
    height:100px;
    border-radius:50px;
}
.loading-info{
    position:absolute;
    top:130%;
    width:160%;
    -webkit-transition:opacity 0.4s ease-in;
    -moz-transition:opacity 0.4s ease-in;
    -ms-transition:opacity 0.4s ease-in;
    -o-transition:opacity 0.4s ease-in;
    transition:opacity 0.4s ease-in;
}
.section-fristpage{
    text-align:center;
    color:#fff;
    font-size:30px;
}
.section-fristpage p{
    padding-bottom:0;
}
.section-fristpage .fade2{
    margin-top:60px;
}
.section-fristpage .fade3{
    margin-top:60px;
}
.scroll-tip{
    display:block;
    width:60px;
    height:60px;
    border-radius:50%;
    position:absolute;
    bottom:-30px;
    top:auto !important;
    left:80%;
    margin-left:-30px;
    text-indent:-9999px;
    background:#fff url(../image/arrow.png) no-repeat 50% 30%;
}
.section-about{
    background:#eee;
}
.section-about .about-content h1{
    margin-bottom:30px;
    font-size:36px;
}
 .section-works{
                background:#27ae60;
 }
 
#tutu img{
    width:260px;
    height: 200px;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
}
#tutu img:nth-child(1){
    transform: none;
    transition: all 1s ease 0s;
    /*backface-visibility跟3Dtranform有关，用于决定当一个元素的背面面向用户时候是否*/
    backface-visibility: hidden;
    z-index: 5;
    transform: rotateX(-180deg);
}
#tutu:hover  img:nth-child(1){
    /*正数靠近，负数远离*/
    transform: rotateX(0deg);
}
#tutu img:nth-child(2){
    transition: all 1s ease 0s;
    /*backface-visibility跟3Dtranform有关，用于决定当一个元素的背面面向用户时候是否*/
    transform: rotateX(	0deg);
}
#tutu:hover  #tutu img:nth-child(2){
    /*正数靠近，负数远离*/
    transform: rotateX(180deg);
}
 .button2:hover{
                opacity:1;
                -webkit-transform:scale(1);
                cursor:pointer;
 }
 .button2{
                display:block;
                width:60px;
                height:60px;
                position:absolute;
                bottom:40px;
                left:50%;
                margin-left:-30px;
                opacity:0.75;
                background:url(../image/arrow.png);
                -webkit-transition:all .2s ease-in 0s;
                z-index:9999;
                -webkit-transform:scale(0.8);
 }
.dark-button2{
                background-position:0 -60px;
}
.button2-2-top{
                background-position:-60px 0;
                bottom:-390%;
                width:80px;
                height:80px;
}
.works-content h1{
    text-align:center;
    color:#fff;
}
.works-content .works-list .fade{
    top:20px;
    left:10px;
    -webkit-transition:all 0.4s ease-in;
    -moz-transition:all 0.4s ease-in;
    -ms-transition:all 0.4s ease-in;
    -o-transition:all 0.4s ease-in;
    transition:all 0.4s ease-in;
}
.works-content .works-list .fade.fade-in{
    left:0;
    top:0;
}
.works-content .works-item{
    position:relative;
    width:300px;
    margin-left:30px;
    margin-bottom:30px;
    float:left;
    overflow:hidden;
}
.works-content .works-item img{
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
    transform:scale(1);
    -webkit-transition:all 0.2s ease-in;
    -moz-transition:all 0.2s ease-in;
    -ms-transition:all 0.2s ease-in;
    -o-transition:all 0.2s ease-in;
    transition:all 0.2s ease-in；
}
.works-content .works-item.first{
    margin-left:0;
}
.works-content .works-item:hover img{
    -webkit-transform:scale(1.5);
    -moz-transform:scale(1.5);
    -ms-transform:scale(1.5);
    -o-transform:scale(1.5);
    transform:scale(1.5);
}
.works-content .works-item:hover .work-info{
    top:0;
}
.works-content .works-item .work-info{
    position:absolute;
    top:137px;
    padding:10px;
    left:0;
    right:0;
    height:100%;
    color:#fff;
    background:rgba(0,0,0,0.8);
    -webkit-transition:all 0.2s ease-in;
    -moz-transition:all 0.2s ease-in;
    -ms-transition:all 0.2s ease-in;
    -o-transition:all 0.2s ease-in;
    transition:all 0.2s ease-in;
}
.works-content .works-item .work-info h2{
    margin-bottom:20px;
}
.more-link{
    color:#fff;
    display:block;
    padding:10px 20px;
    width:60px;
    text-align:center;
    margin:0 auto;
    background:#3d3d3d;
    background:rgba(0,0,0,0.6);
}
.more-link:hover{
    color:#fff;
    background:#3d3d3d;
    background:rgba(0,0,0,0.4);
}
.section-skill{
    background:#2980b9;
}
.skill-content h1{
    color:#fff;
}
.skill-content ul{
    color:#fff;
}
.skill-content li{
    font-size:18px;
    line-height:2;
}
.skill-content .fade{
    top:0;
    left:10px;
    -webkit-transition:all 0.2s ease-in;
    -moz-transition:all 0.2s ease-in;
    -ms-transition:all 0.2s ease-in;
    -o-transition:all 0.2s ease-in;
    transition:all 0.2s ease-in;
}
.skill-content .fade.fade-in{
    left:0;
}
/*轮播图*/
.box {
    width: 700px;
    height: 400px;
    border: 1px solid black;
    margin: 100px auto;
    position: relative;
}
.box .subBox {
    position: absolute;
    width: 140px;
    height: 100%;
    transition: all 1s;
    transform-style: preserve-3d;
}
.box .subBox .sub {
    width:140px;
    height: 100%;
    position: absolute;
}
.box .subBox .sub:nth-child(1) {
    background: url(../image/as2.jpg) no-repeat;
    transform: rotateX(0deg) translateZ(200px);
    background-size: 700px 400px;

}
.box .subBox .sub:nth-child(2) {
    background: url(../image/as3.jpg) no-repeat;
    transform: rotateX(90deg) translateZ(200px);
    background-size: 700px 400px;
 
}
.box .subBox .sub:nth-child(3) {
    background: url(../image/as4.jpg) no-repeat;
    transform: rotateX(180deg) translateZ(200px);
    background-size: 700px 400px;

}
.box .subBox .sub:nth-child(4) {
    background: url(../image/as7.jpg) no-repeat;
    transform: rotateX(-90deg) translateZ(200px);
    background-size: 700px 400px;

}
.controll {
    width: 100%;
    height: 50%;
    position: absolute;
    top: 40%;
}
.controll .prev,.controll .next {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    position: absolute;
    font-size: 35px;
    cursor: pointer;
    background-color: lightgray;
    opacity: 0.3;
}
.controll .prev {
    left: 0;
}
.controll .next {
    right: 0;
}

.section-contact{

    color:#dadada;
}
/*.section-contact a{
    color:rgb(138, 125, 125);
}
.section-contact a:hover{
    color:#dadada;
}
.section-contact .contact-content .left{
    width:40%;
}
.section-contact .contact-content .right{
    width:50%;
}*/
.section-contact .contact-content h1{
    color:#fff;
    margin-bottom:30px;
}
.section-contact .contact-content .contact-info{
    margin-top:20px;
}
.section-contact .contact-content h2{
    color:#fff;
    margin-bottom:20px;
}.section-contact .contact-content .right ul{
    list-style-type:square;
    padding-left:30px;
    margin-bottom:20px;
    line-height:1.6;
}
.section-contact .contact-ways li{
    line-height:1.8;
}
.footer{
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    height:40px;
    background:#000;
    color:#fff;
}
.a-bounce,.a-flip,.a-flash,.a-shake,.a-swing,.a-wobble,.a-ring{
    -webkit-animation:1s ease;
    -moz-animation:1s ease;
    -ms-animation:1s ease;
    animation:1s ease;
}
.a-fadein,.a-fadeinT,.a-fadeinR,.a-fadeinB,.a-fadeinL,.a-bouncein,.a-bounceinT,.a-bounceinR,.a-bounceinB,.a-bounceinL,.a-rotatein,.a-rotateinLT,.a-rotateinLB,.a-rotateinRT,.a-rotateinRB,.a-flipin,.a-flipinX,.a-flipinY{
    -webkit-animation:1s ease-out backwards;
    -moz-animation:1s ease-out backwards;
    -ms-animation:1s ease-out backwards;
    animation:1s ease-out backwards;
}
.heading {
    padding-top: 20%;
    height:100px;
}
.heading h4 {
    margin-bottom: 60px;
    margin-top: 0px;
    font-size: 36px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1px;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
 input {
    margin-bottom: 20px;
    padding-left: 15px;
    width: 100%;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    font-size: 13px;
    color: #fff;
    background-color: rgba(250, 250, 250, 0.05);
    border: none;
    outline: none;
    border-radius: 0;
    box-shadow: none;
}
   input:focus{
    animation: test 1s ease 1s infinite alternate;
}
@-webkit-keyframes test{	        
    from{
        box-shadow: 0px 0px 0px greenyellow;

    }to{
         box-shadow:0px 0px 50px navy;
    }

}

    textarea {
        margin-bottom: 20px;
        padding-left: 15px;
        width: 100%;
        max-width: 100%;
        max-height: 180px;
        height: 140px;
        display: inline-block;
        line-height: 40px;
        font-size: 13px;
        color: #fff;
        background-color: rgba(250, 250, 250, 0.05);
        border: none;
        outline: none!important;
        border-radius: 0;
        box-shadow: none;
    }
    button {
        display: inline-block;
        background-color: #fa5252;
        color: #fff;
        letter-spacing: 1px;
        font-size: 11px;
        padding: 12px 18px;
        font-weight: 300;
        text-decoration: none;
        text-transform: uppercase;
        border: 1px solid transparent;
        border-radius: 0px;
    }